@import "tailwindcss";

@theme {
  --font-sans:
    "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-size: 18px;
}

.scroll-floating-widget {
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.scroll-floating-widget:hover {
  opacity: 1 !important;
}

@media (min-width: 912px) {
  .scroll-floating-widget {
    opacity: 0.3;
  }
}
